article.tab_content_list
	ul
		li.content_list.list_01
			a(href="#" title="")
				img(src="" width="160" height="150")
		li.content_list.list_02
			a(href="#" title="")
				img(src="" width="160" height="150")
		li.content_list.list_03
			a(href="#" title="")
				img(src="" width="160" height="150")
		li.content_list.list_04
			a(href="#" title="")
				img(src="" width="332" height="150")
		li.content_list.list_05
			a(href="#" title="")
				img(src="" width="160" height="150")
		li.content_lis.list_06
			a(href="#" title="")
				img(src="" width="304" height="312")