article.title_02.article_type_02
	h2 TITLE 02
	ul
		li
			a(href="http://www.coupang.com/np/promotion/3683?from=home_C1" title="데님 팬트 & 스커트")
				img(src="http://img1a.coupangcdn.com/image/displayitem/displayitem_84776f9b-7ea7-4f6b-a7ac-217ed6a2e2de.jpg" width="300" height="86" alt="데님 팬트 & 스커트")
		li
			a(href="http://www.coupang.com/np/promotion/3363?from=home_C1" title="예뻐지는 화장대")
				img(src="http://img3c.coupangcdn.com/image/displayitem/displayitem_bc6840d7-c2a3-4740-be92-6905ceac7ceb.jpg" width="300" height="86" alt="예뻐지는 화장대")
		li
			a(href="http://www.coupang.com/np/promotion/3692?from=home_C1" title="남성 명품 패션 잡화")
				img(src="http://img1a.coupangcdn.com/image/displayitem/displayitem_942ad658-1f63-4b02-86d8-a3594f85cf46.jpg" width="300" height="86" alt="남성 명품 패션 잡화")