article.title_04.article_type_01
	h2 TITLE 04
	ul
		li
			a(href="http://cs.coupang.com/customerCenter/notice/3397" title="[공지] 10월 신용카드 무이자 할부 혜택 안내")
				em
					| &#91;
					span 공지
					| &#93;
				span 10월 신용카드 무이자 할부 혜택 안내
		li
			a(href="http://cs.coupang.com/customerCenter/notice/3104" title="[공지] 쿠팡캐시 사용 한도 제한 안내")
				em
					| &#91;
					span 공지
					| &#93;
				span 쿠팡캐시 사용 한도 제한 안내
		li
			a(href="http://cs.coupang.com/customerCenter/notice/3071" title="[안내] 금융감독원 사칭 (쿠팡 사칭 포함) 악성코드 피해 주의 안내")
				em
					| &#91;
					span 안내
					| &#93;
				span 금융감독원 사칭 (쿠팡 사칭 포함) 악성코드 피해 주의 안내
		li
			a(href="http://cs.coupang.com/customerCenter/notice/2993" title="2014 국가고객만족도(NCSI) 소셜커머스 부문 최초 1위 선정")
				em
					| &#91;
					span 공지
					| &#93;
				span 2014 국가고객만족도(NCSI) 소셜커머스 부문 최초 1위 선정
		li
			a(href="http://cs.coupang.com/customerCenter/notice/2969" title="[공지] 쿠팡 롯데 제휴카드로, 매일 15% 할인 받으세요!")
				em
					| &#91;
					span 공지
					| &#93;
				span 쿠팡 롯데 제휴카드로, 매일 15% 할인 받으세요!
		li
			a(href="http://cs.coupang.com/customerCenter/notice/2837" title="[공지] 신종금융사기! 스미싱 주의바랍니다!!")
				em
					| &#91;
					span 공지
					| &#93;
				span 신종금융사기! 스미싱 주의바랍니다!!
		li
			a(href="http://cs.coupang.com/customerCenter/notice/3404" title="[공지] 농협카드 전산시스템 작업 안내(10/29)")
				em
					| &#91;
					span 공지
					| &#93;
				span 농협카드 전산시스템 작업 안내(10/29)
		li
			a(href="http://cs.coupang.com/customerCenter/notice/3403" title="[공지] 농협카드 결제 서비스 작업 안내(10/17)")
				em
					| &#91;
					span 공지
					| &#93;
				span 농협카드 결제 서비스 작업 안내(10/17)
		li
			a(href="http://cs.coupang.com/customerCenter/notice/3402" title="[공지] 비씨카드 결제 서비스 작업 안내(10/16)")
				em
					| &#91;
					span 공지
					| &#93;
				span 비씨카드 결제 서비스 작업 안내(10/16)
		li
			a(href="http://cs.coupang.com/customerCenter/notice/3401" title="[공지] SC제일은행 시스템 작업 안내 (10/9)")
				em
					| &#91;
					span 공지
					| &#93;
				span SC제일은행 시스템 작업 안내 (10/9)
		li
			a(href="http://cs.coupang.com/customerCenter/notice/3399" title="[공지] 쿠팡 해외항공 실시간 서비스 일시 중단 안내")
				em
					| &#91;
					span 공지
					| &#93;
				span 쿠팡 해외항공 실시간 서비스 일시 중단 안내
		li
			a(href="http://cs.coupang.com/customerCenter/notice/3392" title="[공지] 쿠팡 추석연휴 해외항공 실시간 예약 서비스 상담 안내")
				em
					| &#91;
					span 공지
					| &#93;
				span 쿠팡 추석연휴 해외항공 실시간 예약 서비스 상담 안내