article.title_03.article_type_02
	h2 TITLE 03
	ul
		li
			a(href="http://www.coupang.com/np/collections/3013750215" title="쌀쌀한 지금 딱! 오키 스키니 레깅스")
				img(src="http://img3a.coupangcdn.com/image/product/image/vendoritem/2016/10/27/3013750215/700eb91e-1bcc-4016-8620-e76ab86aaf3f.jpg" width="92" height="82" alt="쌀쌀한 지금 딱! 오키 스키니 레깅스")
		li
			a(href="http://www.coupang.com/np/collections/3013749723" title="신나라 겨울 신상 슈즈")
				img(src="http://img5a.coupangcdn.com/image/product/image/vendoritem/2016/10/27/3013749723/ac4d8410-5585-45f5-a93b-d0e4ecbedea2.jpg" width="92" height="82" alt="신나라 겨울 신상 슈즈")
		li
			a(href="http://www.coupang.com/np/collections/3013748209" title="미쏘外 로맨틱 가을을 위한 인기상품 최종가~95%")
				img(src="http://img3c.coupangcdn.com/image/product/image/vendoritem/2016/10/20/3013748209/d344d972-f970-4cf0-9e5d-b0e28f6e3344.jpg" width="92" height="82" alt="미쏘外 로맨틱 가을을 위한 인기상품 최종가~95%")
		li
			a(href="http://www.coupang.com/np/collections/3013748784" title="[본사직영] 아르보 바이 비너스 팬티/브라 특가전!")
				img(src="http://img4a.coupangcdn.com/image/product/image/vendoritem/2016/10/24/3013748784/c5b614c7-114e-48c2-bd40-979e9c0c795f.jpg" width="92" height="82" alt="[본사직영] 아르보 바이 비너스 팬티/브라 특가전!")
		li
			a(href="http://www.coupang.com/np/collections/3013748826" title="[3일 특가] 퀄리티 좋은 스타킹/양말 가을 맞이 특가")
				img(src="http://img3a.coupangcdn.com/image/product/image/vendoritem/2016/10/21/3013748826/7d41a29e-0c71-4cc5-ac8d-4d0661c72dd0.jpg" width="92" height="82" alt="[3일 특가] 퀄리티 좋은 스타킹/양말 가을 맞이 특가")
		li
			a(href="http://www.coupang.com/vp/products/8906670?itemId=39013442" title="베니스쥬얼리 링 게이지")
				img(src="http://img2a.coupangcdn.com/image/vendor_inventory/images/2016/10/20/16/3/aa8dc041-2bd2-43aa-82fd-aea60e13faea.jpg" width="92" height="82" alt="베니스쥬얼리 링 게이지")
		li
			a(href="http://www.coupang.com/np/collections/3013748443" title="지오다노 - 입점기념! 파격찬스! ")
				img(src="http://img4c.coupangcdn.com/image/product/image/vendoritem/2016/10/21/3013748443/cfcd3dcc-b16f-45c1-8a6d-8047d1130846.jpg" width="92" height="82" alt="지오다노 - 입점기념! 파격찬스! ")
		li
			a(href="http://www.coupang.com/np/collections/3013742882" title="페이퍼플레인 - 남성신발")
				img(src="http://img5c.coupangcdn.com/image/product/image/vendoritem/2016/10/14/3013742882/2dbda190-9b72-4562-8245-fdb27e15bf2c.jpg" width="92" height="82" alt="페이퍼플레인 - 남성신발")
		li
			a(href="http://www.coupang.com/vp/products/9112293?itemId=40029927" title="김영주골프 [김영주골프]남성 퍼후드 덕다운 점퍼 BK 패딩/다운패딩")
				img(src="http://img1c.coupangcdn.com/image/vendor_inventory/images/2016/10/27/14/0/4bc57f2b-e8ae-4f73-9a6e-e22d163e3192.jpg" width="92" height="82" alt="김영주골프 [김영주골프]남성 퍼후드 덕다운 점퍼 BK 패딩/다운패딩")