article.banner_container
	div.banner
		img(src="./images/banner_01.jpg" width="312" height="150" alt="보령 메디앙스 기획전")
		div.banner_link
			a(href="http://www.coupang.com/np/search?q=%EB%B3%B4%EB%A0%B9+%EB%A9%94%EB%94%94%EC%95%99%EC%8A%A4&channel=user" title="보령 메디앙스 자세히 보기") 자세히 보기
			a(href="http://www.coupang.com/" title="쿠팡홈으로") 쿠팡홈으로
	div.banner
		img(src="./images/banner_02.jpg" width="312" height="178" alt="아디다스 남녀 라운드/폴로")
		div.banner_link
			a(href="http://www.coupang.com/np/search?q=%EC%95%84%EB%94%94%EB%8B%A4%EC%8A%A4+%EB%9D%BC%EC%9A%B4%EB%93%9C&channel=user" title="아디다스 라운드 자세히 보기") 자세히 보기
			a(href="http://www.coupang.com/" title="쿠팡홈으로") 쿠팡홈으로