<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
html(xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko" class="")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=Edge")
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		title New Tab
		meta(name="viewport" content="width=device-width")

		<!-- inject:css -->
		<!-- endinject -->
	body
		div.wrap
			include modules/main_section/main_section.jade
			include modules/tab_menu_section/tab_menu_section.jade
			include modules/carousel_article/carousel_article.jade
			include modules/banner_article/banner_article.jade
			include modules/join_section/join_section.jade
		<!-- inject:js -->
		<!-- endinject -->