article.carousel_container
	div.carousel_img
		img(src="" width="355" height="365")
	ol.carousel_thumb
		li
			a(href="#" title="" role="button")
				img(src="" width="65" height="70")
		li
			a(href="#" title="" role="button")
				img(src="" width="65" height="70")
		li
			a(href="#" title="" role="button")
				img(src="" width="65" height="70")
	div.carousel_btn
		button(type="button" class="btn_left") 이전 상품
		button(type="button" class="btn_right") 다음 상품